<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app')}}
        {# <link rel="stylesheet" href="{{ asset('build/app.css') }}"> #}
    </head>
    <body>
    {{ include('ui/_navbar.html.twig') }}
    <div class='container'>
        {% block body %}
        {% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app')}}
        {# <script src="{{ asset('build/app.js') }}"></script> #}
    </body>
</html>
